<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <bean id="imageProcessConfig" class="com.sc2geeks.ImageUtil.ImageProcessConfig">
	    <!-- files in this folder will be processed -->
	    <property name="inputFolder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/download" />

	    <!-- files in input folder will be moved to this folder -->
	    <property name="originalFolder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/original" />
	    <property name="resizeOptions">
		    <list>
			    <bean class="com.sc2geeks.ImageUtil.ResizeOption">
				    <property name="size" value="32"/>
				    <property name="folder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/32" />
			    </bean>
			    <bean class="com.sc2geeks.ImageUtil.ResizeOption">
				    <property name="size" value="48"/>
				    <property name="folder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/48" />
			    </bean>
			    <bean class="com.sc2geeks.ImageUtil.ResizeOption">
				    <property name="size" value="64"/>
				    <property name="folder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/64" />
			    </bean>
			    <bean class="com.sc2geeks.ImageUtil.ResizeOption">
				    <property name="size" value="96"/>
				    <property name="folder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/96" />
			    </bean>
			    <bean class="com.sc2geeks.ImageUtil.ResizeOption">
				    <property name="size" value="128"/>
				    <property name="folder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/128" />
			    </bean>
			    <bean class="com.sc2geeks.ImageUtil.ResizeOption">
				    <property name="size" value="240"/>
				    <property name="folder" value="/Users/robert/Sites/gstore/sc2geek/mockup/icon/person outline/240" />
			    </bean>
		    </list>
	    </property>
    </bean>
</beans>