<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
    <bean name="replaySolrConfig" class="api.sc2geeks.service.imp.SolrConfig">
        <property name="solrServerUrl" value="http://localhost:6806/master/replays/" />
        <property name="solrFields">
            <list>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="PlayerRace" />
                    <property name="fieldName" value="f_race" />
                    <property name="urlParameterName" value="playerRace" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="WinningRace" />
                    <property name="fieldName" value="f_winning_race" />
                    <property name="urlParameterName" value="winningRace" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="MatchUpType" />
                    <property name="fieldName" value="pf_race_type" />
                    <property name="urlParameterName" value="matchup" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="PlayerName" />
                    <property name="fieldName" value="f_player" />
                    <property name="urlParameterName" value="player" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="WinnerName" />
                    <property name="fieldName" value="f_winner" />
                    <property name="urlParameterName" value="winner" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="MapName" />
                    <property name="fieldName" value="pf_map_name" />
                    <property name="urlParameterName" value="map" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="GameVersion" />
                    <property name="fieldName" value="f_game_version" />
                    <property name="urlParameterName" value="version" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="Event" />
                    <property name="fieldName" value="f_event" />
                    <property name="urlParameterName" value="event" />
                </bean>
            </list>
        </property>
	    <property name="extraSortInfo">
		    <list>
			    <bean class="api.sc2geeks.service.imp.SolrSortInfo">
				    <property name="sortField" value="p_series_last_date"></property>
				    <property name="sortOrder" value="desc"></property>
			    </bean>
			    <bean class="api.sc2geeks.service.imp.SolrSortInfo">
				    <property name="sortField" value="p_series_number"></property>
				    <property name="sortOrder" value="desc"></property>
			    </bean>
		    </list>
	    </property>
    </bean>

	<bean name="playerPersonSolrConfig" class="api.sc2geeks.service.imp.SolrConfig">
        <property name="solrServerUrl" value="http://localhost:6806/master/players/" />
        <property name="solrFields">
            <list>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="PlayerRace" />
                    <property name="fieldName" value="pf_race" />
                    <property name="urlParameterName" value="race" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="Team" />
                    <property name="fieldName" value="pf_team" />
                    <property name="urlParameterName" value="team" />
                </bean>
                <bean class="api.sc2geeks.service.imp.SolrField">
                    <property name="refinementField" value="Country" />
                    <property name="fieldName" value="pf_country" />
                    <property name="urlParameterName" value="country" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="sqlHelperConfig" class="com.sc2geeks.framework.data.SqlHelperConfig">
		<property name="databaseConfigList">
			<list>
				<bean class="com.sc2geeks.framework.data.DatabaseConfig">
					<property name="name" value="replayDB"/>
					<property name="driverName" value="com.mysql.jdbc.Driver"/>
					<property name="url"
					          value="jdbc:mysql://localhost:3306/sc2rep?characterEncoding=UTF-8&amp;useUnicode=true"/>
					<property name="user" value="sc2nerd"/>
					<property name="password" value="nerd168"/>
				</bean>
				<bean class="com.sc2geeks.framework.data.DatabaseConfig">
					<property name="name" value="logDB"/>
					<property name="driverName" value="com.mysql.jdbc.Driver"/>
					<property name="url"
					          value="jdbc:mysql://localhost:3306/sc2rep?characterEncoding=UTF-8&amp;useUnicode=true"/>
					<property name="user" value="sc2nerd"/>
					<property name="password" value="nerd168"/>
				</bean>
			</list>
		</property>
	</bean>

</beans>