<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="appConfig" class="com.sc2geeks.app.Config">
		<property name="solrPlayerUrl" value="http://localhost:6806/solr/players"></property>
		<property name="solrReplayUrl" value="http://localhost:6806/solr/replays"></property>
		<property name="mongoHost" value="localhost" />
		<property name="mongoPort" value="27017" />
		<property name="timeStampFileName" value="/Users/robert/data/timestamp.txt"/>
		<property name="timeZone" value="America/Los_Angeles"/>
		<property name="mongoDBName" value="sc2" />
		<property name="replayCollectionName" value="replay"/>
		<property name="pythonBin" value="/Users/robert/srv/python/python3.4/bin/python3"/>
		<property name="pythonUpdateScript" value="/Users/robert/devel/python/sc2geeks/sc2lib/wordpress_obj_importer.py"/>
	</bean>
</beans>