<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="specialActions" class="com.sc2geeks.replay.model.SpecialActionConfig">
		<property name="specialActionConfigs">
			<list>
				<bean class="com.sc2geeks.replay.model.SpecialActionUnit">
					<property name="id" value="531"/>
					<property name="buildTime" value="10240"/>
				</bean>
			</list>
		</property>
	</bean>
</beans>