<link href="/css/bootstrap.css" rel="stylesheet"/>
<link href="/css/style.css" rel="stylesheet"/>
<link href="/css/acute.select/acute.select.css" rel="stylesheet"/>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<div class="container-fluid" data-ng-app="sc2geeksApp">

    <!-- Static navbar -->
    <!--
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/progamer/events">Manage Progamers in Events</a>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
    -->

    <!-- Main component for a primary marketing message or call to action -->
    <div ng-view="">

    </div>

</div> <!-- /container -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="/js/angular-1.2.26.js"></script>
<script src="/js/angular-route-1.2.26.js"></script>
<script src="/js/ui-bootstrap-tpls-0.11.2.js"></script>
<script src="/js/acute.select/acute.select.js"></script>
<script src="/app/app.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/app/sc2geeks/services/dataService.js"></script>
<script src="/app/sc2geeks/controllers/progamer/eventListController.js"></script>
<script src="/app/sc2geeks/controllers/progamer/eventEditController.js"></script>

