	/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; 
}

html, button, input, select, textarea { color: #c7c7c7; }
div {
/*	cursor:url(../cursor/SC2-ibeam-small.cur),auto; */
}

body { 
	margin: 0; font-size: 1em;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	color: #c7c7c7;
	background: #333 url("http://cdn.sc2geeks.com/theme/geek2011/css/bg-texture.jpg") scroll;
}
.sc2font{
	font-family: eurostile,Helvetica,Arial,Verdana,sans-serif;
}
.sc2fontExt {
	font-family: eurostileExt,Helvetica,Arial,Verdana,sans-serif;
}
::-moz-selection {color: #5F618F; text-shadow: none; }
::selection { color: #5F618F; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

/* a { color: #00e; } 
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }
*/

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 15px; }
dd { margin: 0 0 0 15px; }
ol, nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        background: none no-repeat scroll 0 0 #1F1F25;
        border: 1px solid #7B7B7B;
        color: #F2F2F2;
        font-size: 1em;
        height: 25px;
        margin-right: 10px;
        vertical-align: top;
    }
/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { 
	margin: 0 15px; 
	padding:20px 0;
	background: black; 
	color: #A90E0E; 
	font-weight:bold;  
	height: 20px;         
}
.ancientLink{
	color:#007CFF;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */



/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ===================== sc2geeks.com specific styles =================== */

/*************** top menu css *****************/
#topmenu{ 
	display:block; 
	margin: 0; 
	padding:0; 
	height:37px; 
	background: #054291; /* Old browsers */
	background: -moz-linear-gradient(top,  #054291 0%, #032a60 8%, #010e21 21%, #010e21 74%, #021c3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#054291), color-stop(8%,#032a60), color-stop(21%,#010e21), color-stop(74%,#010e21), color-stop(100%,#021c3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #054291 0%,#032a60 8%,#010e21 21%,#010e21 74%,#021c3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #054291 0%,#032a60 8%,#010e21 21%,#010e21 74%,#021c3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #054291 0%,#032a60 8%,#010e21 21%,#010e21 74%,#021c3d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #054291 0%,#032a60 8%,#010e21 21%,#010e21 74%,#021c3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054291', endColorstr='#021c3d',GradientType=0 ); /* IE6-9 */



	}
	
#topmenu > ul {
	margin:0;
	padding:0; 
	list-style:inside none; 
}

#topmenu .currentTab {
	background: #0a78ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #0a78ff 0%, #043677 5%, #011f44 52%, #011f44 62%, #04326b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a78ff), color-stop(5%,#043677), color-stop(52%,#011f44), color-stop(62%,#011f44), color-stop(100%,#04326b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0a78ff 0%,#043677 5%,#011f44 52%,#011f44 62%,#04326b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0a78ff 0%,#043677 5%,#011f44 52%,#011f44 62%,#04326b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0a78ff 0%,#043677 5%,#011f44 52%,#011f44 62%,#04326b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0a78ff 0%,#043677 5%,#011f44 52%,#011f44 62%,#04326b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a78ff', endColorstr='#04326b',GradientType=0 ); /* IE6-9 */

}

#topmenu ul li:hover {
background: #0072ff; /* Old browsers */
background: -moz-linear-gradient(top,  #0072ff 0%, #00459b 6%, #023472 53%, #01244f 62%, #054389 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0072ff), color-stop(6%,#00459b), color-stop(53%,#023472), color-stop(62%,#01244f), color-stop(100%,#054389)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0072ff 0%,#00459b 6%,#023472 53%,#01244f 62%,#054389 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0072ff 0%,#00459b 6%,#023472 53%,#01244f 62%,#054389 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0072ff 0%,#00459b 6%,#023472 53%,#01244f 62%,#054389 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0072ff 0%,#00459b 6%,#023472 53%,#01244f 62%,#054389 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072ff', endColorstr='#054389',GradientType=0 ); /* IE6-9 */
}

#topmenu > ul > li {
	position:relative;
	float:left; 
	display:block; 
	margin:0; 
	padding:0;
	list-style:inside none; 
	}
	
#topmenu > ul > li > a { 
	position:relative;
	outline:none; 
	display:block;
	padding:12px 20px; 
	font:bold 13px/100% Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.4);
}

#topmenu > ul > li:first-child > a{}
/*
#topmenu > ul > li > a:after { 
	content:'';
	z-index:99;
	position:absolute; 
	bottom:-1px; 
	right:-2px;
	border-right:1px solid; top:-1px;
}

#topmenu ul li.has-sub:hover > a:after {
	top:0; 
	bottom:0;
}

#topmenu > ul > li.has-sub > a:before { 
	content:''; 
	position:absolute; 
	top:18px; 
	right:6px; 
}

#topmenu > ul > li.has-sub:hover > a:before {
	top:19px;
}
*/
#topmenu ul li.has-sub:hover > a{ 
	z-index:999;
	top:-1px; 
	border-color:#3f3f3f; 
	padding-top:13px; 
	padding-bottom:13px; 
	background:#3f3f3f;
}

#topmenu ul li.has-sub:hover > ul, #topmenu ul li.has-sub:hover > div {display:block;}

#topmenu ul li.has-sub > a:hover {
	background:#3f3f3f; 
	border-color:#3f3f3f;
}

#topmenu ul li > ul, #topmenu ul li > div { 
	z-index:999;
	position:absolute; 
	top:26px;
	display:none; 
	width:auto;  
	padding:10px 0; 
	background:#3f3f3f; 
}
#topmenu ul li > ul {width:200px;}

#topmenu ul li > ul li {
	position:relative;
	display:block;
	margin:0;
	padding:0;
	list-style:inside none;
}

#topmenu ul li > ul li a{
	position:relative;
	display:block;
	outline:none;
	margin:0;
	padding:8px 20px;
	font:10pt Arial, Helvetica, sans-serif; 
	color:#fff; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.5);
}

#topmenu, #topmenu > ul > li > ul > li a:hover {

}

#topmenu{}
#topmenu > ul > li > a {
	color:#E4E4E4;
}
#topmenu > ul > li > a:after{}
#topmenu > ul > li > a:hover{}
/*************** top menu css ends ************/

@font-face{
	font-family:eurostileExt;
	src:url("fonts/EurostileExt-Reg.otf");
}

@font-face {
    font-family: 'eurostile';
	src: url('fonts/Eurostile-Reg.eot');
	src: local('?'), url('fonts/Eurostile-Reg.eot?#iefix') format('embedded-opentype'), url('fonts/Eurostile-Reg.woff') format('woff'), url('fonts/Eurostile-Reg.ttf') format('truetype'), url('fonts/Eurostile-Reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'RobotoRegular';
	src: url('fonts/Roboto-Regular-webfont.eot');
	src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Regular-webfont.woff') format('woff'),
	url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoItalic';
	src: url('fonts/Roboto-Italic-webfont.eot');
	src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Italic-webfont.woff') format('woff'),
	url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoBold';
	src: url('fonts/Roboto-Bold-webfont.eot');
	src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Bold-webfont.woff') format('woff'),
	url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoBoldItalic';
	src: url('fonts/Roboto-BoldItalic-webfont.eot');
	src: url('fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('fonts/Roboto-Condensed-webfont.eot');
	src: url('fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Condensed-webfont.woff') format('woff'),
	url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoCondensedItalic';
	src: url('fonts/Roboto-CondensedItalic-webfont.eot');
	src: url('fonts/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-CondensedItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoBoldCondensed';
	src: url('fonts/Roboto-BoldCondensed-webfont.eot');
	src: url('fonts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-BoldCondensed-webfont.woff') format('woff'),
	url('fonts/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
	url('fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoBoldCondensedItalic';
	src: url('fonts/Roboto-BoldCondensedItalic-webfont.eot');
	src: url('fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoThin';
	src: url('fonts/Roboto-Thin-webfont.eot');
	src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Thin-webfont.woff') format('woff'),
	url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoThinItalic';
	src: url('fonts/Roboto-ThinItalic-webfont.eot');
	src: url('fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoLight';
	src: url('fonts/Roboto-Light-webfont.eot');
	src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Light-webfont.woff') format('woff'),
	url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url('fonts/Roboto-LightItalic-webfont.eot');
	src: url('fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-LightItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoMedium';
	src: url('fonts/Roboto-Medium-webfont.eot');
	src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Medium-webfont.woff') format('woff'),
	url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoMediumItalic';
	src: url('fonts/Roboto-MediumItalic-webfont.eot');
	src: url('fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoBlack';
	src: url('fonts/Roboto-Black-webfont.eot');
	src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Black-webfont.woff') format('woff'),
	url('fonts/Roboto-Black-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'RobotoBlackItalic';
	src: url('fonts/Roboto-BlackItalic-webfont.eot');
	src: url('fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
	url('fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
	url('fonts/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

a {
	color: #c7c7c7;
	text-decoration: none;
}

/*color: #624F3F;
a:visited {
	color: #52D4FF;
}
*/
a:hover {
	color: #52d4ff;
	text-decoration: underline;
}

a:active, a:focus {
	text-decoration: underline;
}

p {
	line-height: 16px;
	margin-bottom: 10px;
}

ul {
	padding: 0px;
	list-style-type: none;
}

h1, h2, h3, h4, h5 {
	color: #c7c7c7;
}

h1 {
	font-size: 30px;
	margin: 0 0 15px;
}

h2 {
	font-size: 25px;
	margin: 0 0 12px;
}

h3 {
	font-size: 20px;
	margin: 0 0 10px;
}

h4 {
	font-size: 16px;
	font-weight: normal;
}

#topContainer {
	margin-left:auto;
	margin-right:auto;
}

#wrap_shadow {
	background-image:url(../img/bg_shadow.png);
	background-repeat: repeat-y;
	/*padding-left: 20px;
	padding-right: 20px;*/
    box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.99);
    -webkit-box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.99);
}

.wrap_style{
	margin-left:auto;
	margin-right:auto;
	width:1018px;
}

#pageContainer {
	width: 926px;
	min-height: 800px;
	padding: 20px 45px;
	background-color:#010e21;
	border: 1px #333;
	border-style: none solid;
}

#headerContainer {
	position:relative;
}
#leftHeader {
	height: 89px;
	float:left;
}

img.logo {
	margin:5px 0 0;
}

#rightHeader {
	position:absolute;
	left:-130px;
}

/* 
====================
Social Icons - BEGIN 
====================
*/
#___plusone_0,
.fb-like.fb_iframe_widget {
	opacity:.3;
}

#___plusone_0:hover,
.fb-like.fb_iframe_widget:hover {
	opacity:1;
}

.fb-like.fb_iframe_widget {
	margin-right:30px;
}
/* 
==================
Social Icons - END
==================
*/
#leftHeader #logoContainer {
	float:left;
	width: 337px;
	height: 89px;

}

#leftHeader #midImageContainer {
	float:left;
	width: 91px;
	height: 89px;

}

#rightHeader #rightHeaderTop {
	clear:both;
	padding-top: 10px;
	height:30px;
	text-align:right;
}

#rightHeader #rightHeaderBottom {
	clear:both;
	height: 49px;
}

.bgIcon {
	background-image:url(../img/bg_icon_list.png);
	background-attachment: scroll;
	background-color: transparent;
	background-repeat: no-repeat;
}

#rightHeader #rightHeaderBottom #menuContainer {
	float:left;
	height:40px;
	width: 390px;

}

#rightHeader #rightHeaderBottom #menuContainer ul {
	display:block;
	height:18px;
	margin-top: 12px;
}

#rightHeader #rightHeaderBottom #menuContainer ul li {
	display:block;
	float:left;
	margin-right:5px;
	height:20px;
}

#rightHeader #rightHeaderBottom #socialIconContainer {
	float:right;
	height:40px;
	width: 87px;

}

#rightHeader #rightHeaderBottom #socialIconContainer a img {
	height:40px;
	width: 25px;
	margin-right: 0;
	vertical-align: middle;
}

#rightHeader #rightHeaderBottom #socialIconContainer a.twitter img {
	background-position: -30px 2px;
}

#rightHeader #rightHeaderBottom #socialIconContainer a.facebook img {
	background-position: -2px 2px;
}

#rightHeader #rightHeaderBottom #socialIconContainer a.youtube img {
	background-position: -64px 2px;
}

#searchBarContainer {
	clear:both;
	height: 49px;
	width: 100%;
	font-size:0.8em;
}

#searchBarContainer #searchBar {
	float:left;
    margin: 6px 0 0 5px;
}

#searchBarContainer #searchBar #searchbox, #filterName {
	height: 21px;
	line-height: 20px;
	width: 318px;
	margin-left: 3px;
	color: #7EA6E0;
	font-family: Arial;
	font-size: 16px;
	border:1px solid #696969;
	background-color:#1F1F25;
    vertical-align: bottom;
	*margin-top: -2px;
}

#searchBarContainer #searchBar #searchBtn {
	background: #1F1F25 no-repeat;
	border: 1px solid #7B7B7B;
	color: #F2F2F2;
	font-size: 1em;
	height: 25px;
	vertical-align: top;
	width: 78px;
	margin-right: 10px;
}


#searchBarContainer #hotKeywords{
	float: left;
	height: 30px;
	width: 478px;
}

#hotKeywords ul{
	margin:3px;
}
#searchBarContainer #hotKeywords li{
	display:inline;
	margin-right:5px;
}

a.underlineLink{
	color: #7ea6e0;
	text-decoration: underline;
	vertical-align:top;
}

a.underlineLink:visited {
	color: #7ea6e0;
}

a.underlineLink:hover {
	color: #52d4ff;
	text-decoration: underline;
}

a.underlineLink:active, a.underlineLink:focus {
	text-decoration: underline;
}

#navigationContainer {
	clear: both;
	margin-bottom:15px;
	padding: 10px 0 0 ;
	width: 100%;
	height:20px;
	font-size: 0.8em;
	border-bottom: 1px solid #062853;
	
    
	
	
}

#navigationContainer #showing {
	float:left;
	padding-top: 5px;
    clear:both;
}

#navigationContainer #showWinner,
#navigationContainer #showStats{
	float: right;
	text-align: right;
	padding-right:0.3em; 
	margin-top:0.3em;
	margin-left: 20px;
}

#showWinner label,
#showStats label {
	vertical-align: top;
}

#bodyContainer {
	clear:both;
	margin: 10px auto;
}

/*
================
BEGIN - Left Navigation Styles - BEGIN
================
*/

#leftnav_wrapper {
    float:left;
    width: 230px;
    clear:left;
    margin: 15px 5px 0 0;
}
#narrow_title {
	margin-bottom:15px;
	padding-top:3px;
	height:15px;
	font-size:13px;
	border-bottom:1px solid #062853;
}
#bodyContainer #leftNavigationContainer {
    padding: 3px 0 0;
    width: 230px;
	font-size:0.8em;
}

#bodyContainer #leftNavigationContainer .navigationBlock {
	clear: both;
	margin-bottom: 15px;
    padding: 0 3px;
}

#bodyContainer #leftNavigationContainer .navigationTitle {
	clear: both;
	margin-bottom: 3px;
	font-weight: 700;
	color:#fff;
	
}

#bodyContainer #leftNavigationContainer .navigationItemList {
	clear: both;
}

#bodyContainer #leftNavigationContainer .navigationBottom {
	clear: both;
	border-bottom: 1px solid #333333;
	margin-right: 15px;
	display:none;
}
#bodyContainer #leftNavigationContainer .navigationTop {
	/* display:none;*/
	clear: both;
	margin: 0 0 3px;
	/* height:10px; */
}

.navigationItemList ul {
	padding: 0 0 0 0;
}

.navigationItemList ul li:first-child {margin-top:10px;}

.navigationItemList ul li {
	margin-bottom:3px;
	line-height: 1.5;
	background: no-repeat -3px -32px;
	
}

.navigationItemList h4{
	font-size:1em;
	line-height: 1.1;
	margin:0;
	font-weight: normal;
}

.moreNav {
	display:block;
	margin-top:10px;
}

.navigationItemList ul li.more {
	background-image: none;
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
}

#conditionFilterBlock {
	clear: both;
	width: 230px;
}

#conditionFilterTitle{
	clear: both;

	font-weight:600;
	margin-bottom: 10px;
}

#conditionFilterList ul li {
	line-height: 1.3;
	padding: 0 0 5px 20px;
	font-weight:500;
}

/*
================
END - Left Navigation Styles - END
================
*/

#bodyContainer #contentContainer {
	float:right;
	width: 686px;
	padding: 3px 0 0 0;
}

.breadcrumb {
}

.breadcrumb ol {
    padding:0;
    line-height: 1.5;
}

.crumb li {
	font-size: 0.9em;
	float:left;
}

.breadcrumb h1 {
	font-size:1.6em;
	margin:-9px 0 0 0;
}

.crumb li span {
    margin:0 0 0 3px;
    color: #C7C7C7;
}

.crumb div {
	margin: 0 3px;
	display: inline-block;
	vertical-align: top;
}

.crumb h2.propName {
	display:none;
}
.crumb h2.propValue {
	font-size: 1em;
	font-weight: normal;
	display:inline-block;
}

.floatLeft {
	float: left;
	text-align: left;
}

.floatRight {
	float: right;
	text-align: right;
}


.icon_20 {
	width: 20px;
	height: 20px;
}

.contentListItem .raceInfo .firstLine .player .playerName {
	height: inherit;
	overflow: inherit;
	vertical-align: top;
}

.contentListItem .raceInfo .firstLine .vsText {
	float: left;
	width: 30px;
}

.contentListItem .raceInfo .firstLine .ratingContainer {
	float: left;
	width: 80px;
	padding-left:5px;
}

.rating5 {
	width: 70px;
	height: 16px;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.rating4 {
	width: 70px;
	height: 16px;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	background-position: 0px -16px;
}

.rating3 {
	width: 70px;
	height: 16px;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	background-position: 0px -32px;
}

.rating2 {
	width: 70px;
	height: 16px;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	background-position: 0px -48px;
}

.rating1 {
	width: 70px;
	height: 16px;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	background-position: 0px -64px;
}

.rating0 {
	width: 70px;
	height: 16px;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	background-position: 0px -80px;
}

#bodyContainer #contentContainer .pageNav {
	height: 30px;
	margin: 15px 0;
	text-align: center;
}

#pagination {
	text-align:center;
	cursor:default;
}


#pagination .previous-off, #pagination .next-off {
	color: #666666;
	display: block;
	float: left;
	padding: 4px;
}
#pagination .active,
#pagination .disabled,
pagination a,
#pagination a:link, 
#pagination a:visited {
	padding:5px 12px;
}

#pagination .active {
	color: #FFF;
	font-weight: bold;
}

#pagination li {
	border: 0 none;
	font-size: 14px;
	list-style: none outside none;
	margin: 0 -3px;
	padding: 0;
	text-align:center;
	display:inline;
}
#pagination li.disabled {
	color: #53585B;
}

#pagination a:link, #pagination a:visited {
	color: #778899;
	text-decoration: none;
}

#pagination a {
	display:inline;
	text-align: center;
}

#pagination a:hover {
	color:#fff;
}

#footerContainer {
	clear: both;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top: 2px solid #062853;
	font-size:0.9em;
}
/**** overlay *****/
#navWrapper {
	height:320px;
}
#allNavOverLay {
	width:740px;
	border: 1px solid #666;
	box-shadow: 0 0 90px 5px #000;
	display: none;
	background-image: -ms-linear-gradient(top, #101436 0%, #000512 100%);
	background-image: -moz-linear-gradient(top, #101436 0%, #000512 100%);
	background-image: -o-linear-gradient(top, #101436 0%, #000512 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #101436), color-stop(1, #000512));
	background-image: -webkit-linear-gradient(top, #101436 0%, #000512 100%);
	background-image: linear-gradient(top, #101436 0%, #000512 100%);
}
.navListContainer {
	height: 280px;
	overflow-y: auto;
	padding: 5px 10px;
	font-size: 0.8em;
}
.navListContainer li {
	float:left;
}
.navListContainer h4 {
	display: block;
	width:215px;
}
#navAllTitle {
	height:26px;
	margin: 5px;
    font-size:0.9em;
}

#navAllTitle input {
    margin: 0 5px;
}

a.close{
	float: right;
	margin-right: 5px;
	margin:0;
	border: none;
	padding: 0;
}
.close img {
	width:32px;
	height:32px;
	border: none;
	margin:0;
}

/***** breadcrumb *****/
#breadcrumb{
	border-top:1px solid #333333;
	clear:right;
}
#breadcrumb h1.mapTitle {
	display: none;
}
#breadcrumb ol.crumb{
	color:#7EA6E0;
	margin: 1em 0;
	padding: 0 0 0 15px;
}

/**** image containers & dynamic images ****/
span.vertical-aligned {
	display: inline-block;
	height:100%;
	vertical-align: middle;
}
.map-image-46-container {
	float:left;
	width:46px;
	height:46px;
	border:none;
	margin: 0 3px;
	white-space: nowrap;
	text-align: center;
}
.map-image-46 {
	vertical-align: middle;
	border:none;
	margin:auto;
	padding: 0;
	max-width:46px;
	max-height: 46px;
}
.map-image-124-container {
	float:left;
	width:124px;
	height:124px;
	border:none;
	margin: 0 15px;
	white-space: nowrap;
	text-align: center;
}
.map-image-124 {
	vertical-align: middle;
	border:none;
	margin:auto;
	padding: 0;
	max-width:124px;
	max-height: 124px;
}

	/*** common styles that are used by replay list & replay detail */
#replayRow, #main
{
	position: relative;
	margin-left: 10px;
}

.userColorBar
{
	width: 8px;
	height: 80px;
	background-color: red;
	margin-top: 20px;
}

.playerSection
{
	float: left;
	margin-top: 15px;
}

.floatRight img
{
	/* float:right; */
	margin-left: 5px;
}

img.trophy
{
	margin: 0 5px;
	width: 25px;
	height: 25px;
	display: none;
}

p.playerName
{
	display: block;
	font: bold 1.1em/1 "Arial";
	width: 128px;
}

.apm
{
	font-size: 0.7em;
	color: Gray;
	margin: 7px 0;
}

.mapContainer
{
	width: 125px;
	float: left;
	margin: 0 15px;
}

#replayRow .mapContainer
{
	height: 124px;
}

/*****  index page ***********/
.clear {
	clear:both;
}
.noborder {
	border:none !important;
}
.contentListItem {
	position:relative;
	clear:both;
	margin: 5px 0;
	padding:0 0 5px 4px;
	font-size:0.9em;
	border-bottom: 1px solid #062853;
}

.fullRow {
	width:100%;
}
.contentListItem .playerSection {
	margin: 0;
	width:198px;
}
.contentListItem img.race {
	width:40px;
	height:50px;
}
.contentListItem p.playerName {
	font-size: 1.1em;
	font-weight:normal;
	margin:10px 0 0;
}
.contentListItem .trophy {
	width:16px;
	height:16px;
	margin-top:2px;
}
.contentListItem .mapContainer {
	float:left;
	width:46px;
	border:none;
	margin: 0 3px;
}
.contentListItem .mapImage {
	width:46px;
	height:46px;
}
.contentListItem .action {
	float:left;
	margin: 0 0 0 6px;
	width: 218px;
	color: #C7C7C7;
	position:relative;
}

.action{
	padding: 2px 5px;
	font-size: 0.8em;
	color: #7EA6E0;
	margin-right:30px;
}

#action {
	margin: 15px 0;
	font-size:1.1em;
}

.action p {
margin: 3px 0;
line-height: 1.1em;
max-width: 218px;
overflow:hidden;
}
.action a {
	margin: 0 0 0 5px;
}
.playerSection .colorBar {
	height:38px;
	margin-top:6px;
	width:0px;
	border-left-size:6px;
	border-left-style:solid;
}
.action a img {
	margin:-1px 0 0 2px;
}
.action .downloadRow {
	height: 13px;
	vertical-align:bottom;
	left:100px;
	position:absolute;
	top: 3px;
}
.playerSection .apm {
	font-size: 0.7em;
	color: #808080;
	margin: 4px 0;
}


.showAll {
float  :right;
margin-right:8px;
}


.external {
	background:  url("../img/external.png") no-repeat scroll right center transparent;
	padding-right:14px;
}

.source {
	font-size: 0.8em;
	color: #7e7e7e;
	padding-top:10px;
	float:right;
}


/*
 Build order styles
 */
#buildOrders table,  #buildOrders th,  #buildOrders td {
	margin: 25px auto 0 auto;
	border-collapse: collapse;
	font-size: 0.9em;
	text-align: left;
	border: 1px solid #62728B;
	vertical-align: middle;
}

#buildOrders th {
	background-color: #19397E;
	padding: 4px 5px;
	text-align: center;
}

th.time {
	width: 80px;
}
th.player {
	width: 200px;
}

#buildOrders td span {
	float:left;
}
span.thumbnail-25-container {
	width: 25px;
	height: 25px;
	overflow: hidden;
	background: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display:block;
	margin: 0 10px 0 5px;
	vertical-align: middle;
}
#buildOrders td span.unit-name {
	padding-top: 6px;
	line-height: 1; /* fix issue that chrome and firefox has 1 pixel difference */
}
#buildOrders td.time {
	text-align:center;
}

/* units */
.thumbnail-25-container span.unit,
.thumbnail-25-container span.building,
.thumbnail-25-container span.upgrade{
	background-image: url('../img/all-sprite.v0.gif');
	background-repeat: no-repeat;
	display:block;
	width:25px;
	height: 25px;
	float:left;
}


/* Protoss units */
.thumbnail-25-container .probe {background-position:-3px 0;}
.thumbnail-25-container .zealot {background-position:-33px 0;}
.thumbnail-25-container .stalker {background-position:-63px 0;}
.thumbnail-25-container .sentry {background-position:-93px 0;}
.thumbnail-25-container .observer {background-position:-123px 0;}
.thumbnail-25-container .immortal {background-position:-3px -33px;}
.thumbnail-25-container .warpprism {background-position:-33px -33px;}
.thumbnail-25-container .colossus {background-position:-63px -33px;}
.thumbnail-25-container .phoenix {background-position:-93px -33px;}
.thumbnail-25-container .voidray {background-position:-123px -33px;}
.thumbnail-25-container .hightemplar {background-position:-3px -66px;}
.thumbnail-25-container .darktemplar {background-position:-33px -66px;}
.thumbnail-25-container .archon {background-position:-63px -66px;}
.thumbnail-25-container .carrier {background-position:-93px -66px;}
.thumbnail-25-container .mothership {background-position:-123px -66px;}
.thumbnail-25-container .oracle {background-position:-3px -324px;}
.thumbnail-25-container .mothershipcore {background-position:-33px -324px;}
.thumbnail-25-container .tempest {background-position:-63px -324px;}

/* Terran units */
.thumbnail-25-container .scv {background-position:-3px -109px;}
.thumbnail-25-container .marine {background-position:-33px -109px;}
.thumbnail-25-container .marauder {background-position:-63px -109px;}
.thumbnail-25-container .reaper {background-position:-93px -109px;}
.thumbnail-25-container .ghost {background-position:-123px -109px;}
.thumbnail-25-container .hellion {background-position:-3px -142px;}
.thumbnail-25-container .siegetank {background-position:-33px -142px;}
.thumbnail-25-container .thor {background-position:-63px -142px;}
.thumbnail-25-container .viking {background-position:-93px -142px;}
.thumbnail-25-container .medivac {background-position:-123px -142px;}
.thumbnail-25-container .raven {background-position:-3px -175px;}
.thumbnail-25-container .banshee {background-position:-33px -175px;}
.thumbnail-25-container .battlecruiser {background-position:-63px -175px;}
.thumbnail-25-container .widowmine {background-position:-3px -357px;}
.thumbnail-25-container .hellbat {background-position:-33px -357px;}

/* Zerg units */
.thumbnail-25-container .larva {background-position:-3px -218px;}
.thumbnail-25-container .drone {background-position:-33px -218px;}
.thumbnail-25-container .overlord {background-position:-63px -218px;}
.thumbnail-25-container .zergling {background-position:-93px -218px;}
.thumbnail-25-container .queen {background-position:-123px -218px;}
.thumbnail-25-container .hydralisk {background-position:-3px -251px;}
.thumbnail-25-container .baneling {background-position:-33px -251px;}
.thumbnail-25-container .overseer {background-position:-63px -251px;}
.thumbnail-25-container .roach {background-position:-93px -251px;}
.thumbnail-25-container .infestor {background-position:-123px -251px;}
.thumbnail-25-container .mutalisk {background-position:-3px -284px;}
.thumbnail-25-container .corruptor {background-position:-33px -284px;}
.thumbnail-25-container .nydusworm {background-position:-63px -284px;}
.thumbnail-25-container .ultralisk {background-position:-93px -284px;}
.thumbnail-25-container .broodlord {background-position:-123px -284px;}
.thumbnail-25-container .viper {background-position:-3px -390px;}
.thumbnail-25-container .swarmhost {background-position:-33px -390px;}

/* Terran building */
.thumbnail-25-container .barracks {background-position:-300px -1px;}
.thumbnail-25-container .supplydepot {background-position:-330px -1px;}
.thumbnail-25-container .commandcenter {background-position:-360px -1px;}
.thumbnail-25-container .orbitalcommand {background-position:-390px -1px;}
.thumbnail-25-container .planetaryfortress {background-position:-420px -1px;}
.thumbnail-25-container .refinery {background-position:-300px -31px;}
.thumbnail-25-container .engineeringbay {background-position:-330px -31px;}
.thumbnail-25-container .missileturret {background-position:-360px -31px;}
.thumbnail-25-container .sensortower {background-position:-390px -31px;}
.thumbnail-25-container .bunker {background-position:-420px -31px;}
.thumbnail-25-container .ghostacademy {background-position:-300px -61px;}
.thumbnail-25-container .factory {background-position:-330px -61px;}
.thumbnail-25-container .starport {background-position:-360px -61px;}
.thumbnail-25-container .armory {background-position:-390px -61px;}
.thumbnail-25-container .fusioncore {background-position:-420px -61px;}
.thumbnail-25-container .techlab {background-position:-300px -91px;}
.thumbnail-25-container .reactor {background-position:-330px -91px;}

/* Protoss building */
.thumbnail-25-container .nexus {background-position:-300px -121px;}
.thumbnail-25-container .pylon {background-position:-330px -121px;}
.thumbnail-25-container .assimilator {background-position:-360px -121px;}
.thumbnail-25-container .forge {background-position:-390px -121px;}
.thumbnail-25-container .warpgate {background-position:-420px -121px;}
.thumbnail-25-container .gateway {background-position:-300px -151px;}
.thumbnail-25-container .cyberneticscore {background-position:-330px -151px;}
.thumbnail-25-container .futoncannon {background-position:-360px -151px;}
.thumbnail-25-container .twilightcouncil {background-position:-390px -151px;}
.thumbnail-25-container .roboticsfacility {background-position:-420px -151px;}
.thumbnail-25-container .stargate {background-position:-300px -181px;}
.thumbnail-25-container .fleetbeacon {background-position:-330px -181px;}
.thumbnail-25-container .roboticsbay {background-position:-360px -181px;}
.thumbnail-25-container .templararchive {background-position:-390px -181px;}
.thumbnail-25-container .darkshrine {background-position:-420px -181px;}

/* Zerg building */
.thumbnail-25-container .hachery {background-position:-300px -241px;}
.thumbnail-25-container .spawningpool {background-position:-330px -241px;}
.thumbnail-25-container .evolutionchamber {background-position:-360px -241px;}
.thumbnail-25-container .extractor {background-position:-390px -241px;}
.thumbnail-25-container .banelingnest {background-position:-420px -241px;}
.thumbnail-25-container .sporecrawler {background-position:-300px -271px;}
.thumbnail-25-container .spinecrawler {background-position:-330px -271px;}
.thumbnail-25-container .infestationpit {background-position:-360px -271px;}
.thumbnail-25-container .hydraliskden {background-position:-390px -271px;}
.thumbnail-25-container .spire {background-position:-420px -271px;}
.thumbnail-25-container .nydusnetwork {background-position:-300px -301px;}
.thumbnail-25-container .hive {background-position:-330px -301px;}
.thumbnail-25-container .ultraliskcavern {background-position:-360px -301px;}
.thumbnail-25-container .greaterspire {background-position:-390px -301px;}
.thumbnail-25-container .roachwarren {background-position:-420px -301px;}
.thumbnail-25-container .lair {background-position:-300px -331px;}

/* Terran upgrade */
.thumbnail-25-container .upgradeterraninfantryarmor1 {background-position:-600px -1px;}
.thumbnail-25-container .upgradeterraninfantryarmor2 {background-position:-630px -1px;}
.thumbnail-25-container .upgradeterraninfantryarmor3 {background-position:-660px -1px;}
.thumbnail-25-container .upgradeterraninfantryweapons1 {background-position:-690px -1px;}
.thumbnail-25-container .upgradeterraninfantryweapons2 {background-position:-720px -1px;}
.thumbnail-25-container .upgradeterraninfantryweapons3 {background-position:-750px -1px;}

.thumbnail-25-container .researchstimpack {background-position:-600px -31px;}
.thumbnail-25-container .researchcombatshield {background-position:-630px -31px;}
.thumbnail-25-container .researchconcussiveshells {background-position:-660px -31px;}
.thumbnail-25-container .researchpersonalcloaking {background-position:-690px -31px;}
.thumbnail-25-container .researchmoebiusreactor {background-position:-720px -31px;}
.thumbnail-25-container .researchinfernalpreigniter {background-position:-750px -31px;}

.thumbnail-25-container .upgradevehicleweapons1 {background-position:-600px -61px;}
.thumbnail-25-container .upgradevehicleweapons2 {background-position:-630px -61px;}
.thumbnail-25-container .upgradevehicleweapons3 {background-position:-660px -61px;}
.thumbnail-25-container .UpgradeVehiclePlating1 {background-position:-690px -61px;}
.thumbnail-25-container .UpgradeVehiclePlating2 {background-position:-720px -61px;}
.thumbnail-25-container .UpgradeVehiclePlating3 {background-position:-750px -61px;}

.thumbnail-25-container .upgradeshipweapons1 {background-position:-600px -91px;}
.thumbnail-25-container .upgradeshipweapons2 {background-position:-630px -91px;}
.thumbnail-25-container .upgradeshipweapons3 {background-position:-660px -91px;}
.thumbnail-25-container .upgradeshipplating1 {background-position:-690px -91px;}
.thumbnail-25-container .upgradeshipplating2 {background-position:-720px -91px;}
.thumbnail-25-container .upgradeshipplating3 {background-position:-750px -91px;}

.thumbnail-25-container .researchcaduceusreactor {background-position:-600px -121px;}
.thumbnail-25-container .researchcorvidreactor {background-position:-630px -121px;}
.thumbnail-25-container .researchdurablematerials {background-position:-660px -121px;}
.thumbnail-25-container .researchcloakingfield {background-position:-690px -121px;}
.thumbnail-25-container .researchweaponrefit {background-position:-720px -121px;}
.thumbnail-25-container .researchbehemothreactor {background-position:-750px -121px;}

/* Zerg upgrade */
.thumbnail-25-container .evolvegroundcarapace1 {background-position:-600px -181px;}
.thumbnail-25-container .evolvegroundcarapace2 {background-position:-630px -181px;}
.thumbnail-25-container .evolvegroundcarapace3 {background-position:-660px -181px;}
.thumbnail-25-container .evolvemeleeattacks1 {background-position:-690px -181px;}
.thumbnail-25-container .evolvemeleeattacks2 {background-position:-720px -181px;}
.thumbnail-25-container .evolvemeleeattacks3 {background-position:-750px -181px;}

.thumbnail-25-container .evolvemissileattacks1 {background-position:-600px -211px;}
.thumbnail-25-container .evolvemissileattacks2 {background-position:-630px -211px;}
.thumbnail-25-container .evolvemissileattacks3 {background-position:-660px -211px;}
.thumbnail-25-container .evolveburrow {background-position:-690px -211px;}
.thumbnail-25-container .evolveadrenalglands {background-position:-720px -211px;}
.thumbnail-25-container .evolvemetabolicboost {background-position:-750px -211px;}

.thumbnail-25-container .evolvegroovedspines {background-position:-600px -241px;}
.thumbnail-25-container .evolvemuscularaugments {background-position:-630px -241px;}
.thumbnail-25-container .evolvepneumatizedcarapace {background-position:-660px -241px;}
.thumbnail-25-container .evolveventralsacs {background-position:-690px -241px;}
.thumbnail-25-container .evolvecentrifugalhooks {background-position:-720px -241px;}
.thumbnail-25-container .evolveglialreconstitution {background-position:-750px -241px;}

.thumbnail-25-container .evolvetunnelingclaws {background-position:-600px -271px;}
.thumbnail-25-container .evolvepathogenglands {background-position:-630px -271px;}
.thumbnail-25-container .evolveneuralparasite {background-position:-660px -271px;}
.thumbnail-25-container .evolvechitinousplating {background-position:-690px -271px;}
.thumbnail-25-container .evolveenduringlocusts {background-position:-720px -271px;}

.thumbnail-25-container .evolveflyerattacks1 {background-position:-600px -301px;}
.thumbnail-25-container .evolveflyerattacks2 {background-position:-630px -301px;}
.thumbnail-25-container .evolveflyerattacks3 {background-position:-660px -301px;}
.thumbnail-25-container .evolveflyercarapace1 {background-position:-690px -301px;}
.thumbnail-25-container .evolveflyercarapace2 {background-position:-720px -301px;}
.thumbnail-25-container .evolveflyercarapace3 {background-position:-750px -301px;}

/* Protoss upgrades */
.thumbnail-25-container .upgradegroundweapons1 {background-position:-600px -331px;}
.thumbnail-25-container .upgradegroundweapons2 {background-position:-630px -331px;}
.thumbnail-25-container .upgradegroundweapons3 {background-position:-660px -331px;}
.thumbnail-25-container .upgradegroundarmor1 {background-position:-690px -331px;}
.thumbnail-25-container .upgradegroundarmor2 {background-position:-720px -331px;}
.thumbnail-25-container .upgradegroundarmor3 {background-position:-750px -331px;}

.thumbnail-25-container .upgradeairweapons1 {background-position:-600px -361px;}
.thumbnail-25-container .upgradeairweapons2 {background-position:-630px -361px;}
.thumbnail-25-container .upgradeairweapons3 {background-position:-660px -361px;}
.thumbnail-25-container .upgradeairarmor1 {background-position:-690px -361px;}
.thumbnail-25-container .upgradeairarmor2 {background-position:-720px -361px;}
.thumbnail-25-container .upgradeairarmor3 {background-position:-750px -361px;}

.thumbnail-25-container .upgradeshields1 {background-position:-600px -391px;}
.thumbnail-25-container .upgradeshields2 {background-position:-630px -391px;}
.thumbnail-25-container .upgradeshields3 {background-position:-660px -391px;}
.thumbnail-25-container .researchcharge {background-position:-690px -391px;}
.thumbnail-25-container .researchblink {background-position:-720px -391px;}
.thumbnail-25-container .researchgraviticboosters {background-position:-750px -391px;}

/**
	Stats related styles
*/
.replay-stats {
	margin: 20px auto;
}
.stats-container {
	min-width: 600px; height: 400px; max-width: 600px; margin:10px auto;
}

